* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("./Imagines/Building.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

form {
    width: 420px;
    background-color: #A4B2CD;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}


.wrapper, .btn {
    font-size: 24px;
    text-align: center;
}

.form, .input-box {
    width: 100%;
    height: 50px;
    background-color: #385072;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    border: 2px solid;
    padding: 20px 45px 20px 20px;
}

.Register-Student {
    margin-left: 3px;
}